@page "/"
@inject IJSRuntime JSRuntime

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="content" data-content="one">
                <h1>Marcelina Fryckowska</h1>
                <p>
                    Od 2016 roku jestem aktywnie zaangażowana w branżę beauty...
                </p>
            </div>
        </div>
        <div class="background" data-item="two">
            <h1>Marcelina Fryckowska</h1>
            <p>
                W 2016 roku jestem aktywnie zaangażowana w branżę beauty...
            </p>
        </div>
    </div>

    <div class="swiper-pagination"></div>
</div>
<div class="footer">
    <div class="feature">
        <i class="fa-solid fa-house"></i>
        <div>
            <p>Accommodation</p>
            <small>5 days</small>
        </div>
    </div>
    <hr />
    <div class="feature">
        <i class="fa-solid fa-headphones"></i>
        <div>
            <p>Live guide</p>
            <small>available</small>
        </div>
    </div>
    <div class="feature">
        <i class="fa-solid fa-clock"></i>
        <p>Easy Cancelation</p>
        <small>cancel before 48h</small>
    </div>
    <hr />
    <button class="btn">Book Now</button>
</div>









